footer {
   text-align: center;
   margin: 0rem 0.3rem 0.3rem;
   padding: 0.25em 0;
   border-radius: $radius;
   background-color: $cadetBlue;
   p {
      margin: 0.5rem;
      font-size: $normParag;
      color: $black1;
   }
   a {
      color: $link-dark;
   }
   &.dark {
      background-color: $black2;
      p {
         color: $white2;
      }
      a {
         color: $link-light;
      }
   }
}