footer {
   text-align: center;
   margin: 0.3rem 0.3rem 0.3rem;
   padding: 0.25em 0;
   border-radius: $radius;
   background-color: $cadetBlue;
   p {
      margin: 0;
      font-size: 0.9rem;
      color: $black;
   }
   a {
      color: #06369C;
   }
}