footer {
   text-align: center;
   margin: 0rem 0.3rem 0.3rem;
   padding: 0.25em 0;
   border-radius: $radius;
   background-color: $cadetBlue;
   p {
      margin: 0.5rem;
      font-size: calc(10px + 1vmin);
      color: $black;
   }
   a {
      color: #06369C;
   }
}