@import "../mixins";

div.svgContainer {
   width: 56vw;
   height: 91.95vh;
   margin: 0.3rem 0.175rem 0 0.3rem;
   border-radius: $radius;
   background-color: $white2;
}
.loading {
   @include isLoading;
}

svg.GlobeMap {
   width: 100%;
   height: 100%;
}

g {
   .sphere {
      fill: #0848D4;
   }
   .country {
      fill: #00CCC4;
      stroke: #007A75;
      stroke-width: 0.3;
      &:hover {
         fill: #FFC400;
      }
      transition: fill 0.2s;
   }
   .graticule {
      stroke: $white1;
      stroke-width: 0.25;
      opacity: 0.5;
      fill: none;
   }
}