div.Tooltip {
   position: absolute;
   z-index: 1;
   width: auto;
   height: auto;
   margin-left: 0.5em;
   padding: 0.2em 0.8em;
   font-size: 0.9rem;
   color: $white1;
   background-color: $black;
   opacity: 0;
   border-radius: $radius;
   pointer-events: none;
   transition: opacity 0.5s, top 0.2s, left 0.2s;
}