@import "../variables";
@import "../mixins";

div.WikiData {
   width: 44vw;
   max-height: 91.95vh;
   overflow: hidden scroll;
   margin: 0.3rem 0.3rem 0 0.175rem;
   border-radius: $radius;
   color: var(--theme-text);
   background-color: var(--theme-bg3);
   @include theme-transition;
   h2, h3, p {
      display: block;
      text-align: center;
   }
   h2 {
      font-size: calc(16px + 2vmin);
   }
   h3 {
      font-size: calc(9px + 2vmin);
   }
   p {
      font-size: $normParag;
   }
   p.summary {
      margin: 2rem 1rem 4rem;
      text-align: left;
   }
}
// div for loading animation
.loading {
   @include isLoading;
}

img.countryFlag {
   display: block;
   width: 40%;
   min-width: 180px;
   height: auto;
   margin: auto;
}
div.imgContainer {
   p {
      margin: 0.5rem 1rem 1.5rem;
      text-align: center;
      font-size: $smallParag;
   }
}
img.countryImg {
   display: block;
   width: 80%;
   margin: 0 auto;
   border-radius: calc($radius * 2);
}

// 768px
@media only screen and (max-width: $breakpoint1) {
   div.WikiData {
      width: calc(100% - 0.6rem);
      margin: 0.3rem 0.3rem;
   }
   div.fadeBack {
      background: linear-gradient(180deg, $white2, 80%, rgba(224, 224, 224, 0));
   }
   img.countryFlag {
      width: 30%;
   }
}