* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

.App {
  border: 1px solid transparent;
  background-color: var(--theme-bg1);
}

.light {
  --theme-bg1: #F3F3F3;
  --theme-bg2: #ADA7C9;
  --theme-bg3: #E0E0E0;
  --theme-fg1: #333333;
  --theme-text: #222;
  --theme-switch-order: 0;
}

.dark {
  --theme-bg1: #ADA7C9;
  --theme-bg2: #333333;
  --theme-bg3: #333333;
  --theme-fg1: #E0E0E0;
  --theme-text: #E0E0E0;
  --theme-switch-order: 1;
}

.layout {
  display: flex;
  justify-content: space-between;
  height: 93.2vh;
}

div.svgContainer {
  width: 56vw;
  height: 91.95vh;
  margin: 0.3rem 0.175rem 0 0.3rem;
  border-radius: 5px;
  background-color: var(--theme-bg3);
}

@media only screen and (max-width: 48em) {
  .layout {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  div.svgContainer {
    width: calc(100% - 0.6rem);
    height: auto;
    margin: 0.3rem 0.3rem 0;
    padding: 0 20vw;
  }
}
.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.24rem 0.3rem 0;
  padding: 0.1em 0 0.1em;
  text-align: center;
  border-radius: 5px;
  background-color: var(--theme-bg2);
}
.Header h1 {
  margin: 0;
  padding: 0.1em 0 0.1em;
  font-size: calc(22px + 2vmin);
  color: var(--theme-text);
}

.ThemeSwitchBox {
  position: absolute;
  right: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  width: 50px;
  height: 28px;
  border: 2px solid var(--theme-fg1);
  border-radius: 20px;
}
.ThemeSwitchBox svg {
  fill: var(--theme-fg1);
}
.ThemeSwitchBox div.ThemeSwitch {
  margin: 0 1px;
  width: 17px;
  height: 17px;
  border-radius: 20px;
  background-color: var(--theme-fg1);
  order: var(--theme-switch-order);
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
.loading {
  position: relative;
}
.loading:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
  animation: loading 1s infinite;
}

svg.GlobeMap {
  width: 100%;
  height: 100%;
}

g .sphere {
  fill: #0848D4;
}
g .country {
  fill: #00CCC4;
  stroke: #007A75;
  stroke-width: 0.3;
  transition: fill 0.2s;
}
g .country:hover {
  fill: #FFC400;
}
g .graticule {
  stroke: #F3F3F3;
  stroke-width: 0.25;
  opacity: 0.5;
  fill: none;
}

div.Tooltip {
  position: absolute;
  z-index: 1;
  width: auto;
  height: auto;
  margin-left: 0.5em;
  padding: 0.2em 0.8em;
  font-size: 0.9rem;
  color: #F3F3F3;
  background-color: #222;
  opacity: 0;
  border-radius: 5px;
  pointer-events: none;
  transition: opacity 0.5s, top 0.2s, left 0.2s;
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
div.WikiData {
  width: 44vw;
  max-height: 91.95vh;
  overflow: hidden scroll;
  margin: 0.3rem 0.3rem 0 0.175rem;
  border-radius: 5px;
  color: var(--theme-text);
  background-color: var(--theme-bg3);
}
div.WikiData h2, div.WikiData h3, div.WikiData p {
  display: block;
  text-align: center;
}
div.WikiData h2 {
  font-size: calc(16px + 2vmin);
}
div.WikiData h3 {
  font-size: calc(9px + 2vmin);
}
div.WikiData p {
  font-size: clamp(10px, 10px + 1vmin, 1em);
}
div.WikiData p.summary {
  margin: 2rem 1rem 4rem;
  text-align: left;
}

.loading {
  position: relative;
}
.loading:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
  animation: loading 1s infinite;
}

img.countryFlag {
  display: block;
  width: 40%;
  min-width: 180px;
  height: auto;
  margin: auto;
}

div.imgContainer p {
  margin: 0.5rem 1rem 1.5rem;
  text-align: center;
  font-size: clamp(9px, 9px + 1vmin, 0.9em);
}

img.countryImg {
  display: block;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
}

@media only screen and (max-width: 48em) {
  div.WikiData {
    width: calc(100% - 0.6rem);
    margin: 0.3rem 0.3rem;
  }
  div.fadeBack {
    background: linear-gradient(180deg, #E0E0E0, 80%, rgba(224, 224, 224, 0));
  }
  img.countryFlag {
    width: 30%;
  }
}
footer {
  text-align: center;
  margin: 0rem 0.3rem 0.3rem;
  padding: 0.25em 0;
  border-radius: 5px;
  background-color: #ADA7C9;
}
footer p {
  margin: 0.5rem;
  font-size: clamp(10px, 10px + 1vmin, 1em);
  color: #222;
}
footer a {
  color: #06369C;
}/*# sourceMappingURL=style.css.map */