@import "../variables";

body {
   min-height: 100vh;
   margin: 0;
   font-family: 'Ubuntu', sans-serif;
   // -webkit-font-smoothing: antialiased;
   // -moz-osx-font-smoothing: grayscale;
}

.App {
   border: 1px solid transparent; // make margin collapse
   background-color: var(--theme-bg1);
}

.light {
   --theme-bg1: #{$white1};
   --theme-bg2: #{$cadetBlue};
   --theme-bg3: #{$white2};
   --theme-fg1: #{$black2};
   --theme-text: #{$black1};
   --theme-switch-order: 0;  // for flex children order of theme switcher
}
.dark {
   --theme-bg1: #{$cadetBlue};
   --theme-bg2: #{$black2};
   --theme-bg3: #{$black2};
   --theme-fg1: #{$white2};
   --theme-text:  #{$white2};
   --theme-switch-order: 1;
}

.layout {
   display: flex;
   justify-content: space-between;
   height: 93.2vh;
}

div.svgContainer {
   width: 56vw;
   height: 91.95vh;
   margin: 0.3rem 0.175rem 0 0.3rem;
   border-radius: $radius;
   background-color: var(--theme-bg3);
}

// 768px
@media only screen and (max-width: $breakpoint1) {
   .layout {
      flex-direction: column;
      align-items: center;
      height: auto;
   }
   div.svgContainer {
      width: calc(100% - 0.6rem);
      height: auto;
      margin: 0.3rem 0.3rem 0;
      padding: 0 20vw;
   }
}