@import "../variables";

body {
   min-height: 100vh;
   margin: 0;
   font-family: 'Ubuntu', sans-serif;
   // -webkit-font-smoothing: antialiased;
   // -moz-osx-font-smoothing: grayscale;
   background-color: $white1;
}

.App {
   justify-content: center;
   background-color: $white1;
}

.layout {
   display: flex;
   justify-content: space-between;
}